.down{
    padding: 105px 25px 0px 25px;
    /* margin: 0 0 30px; */

    color: var(--mainColor);
}
.title{
    margin: 25px 0px;
    font-weight: 600;
}
.para{
    width: 63%;
    font-weight: 500;
    font-size: 20px;
}


.down__sec{
    width: 80%;
    margin-top: 50px;
    background-color: var(--mainColor);
    border-radius: 30px;
    color: white;
    font-size: 20px;
    position: relative;
}
.down__sec div{
    margin: 63px 0px;
    padding: 0px 40px;
    text-align: center;

}
.down__sec p{
    margin-bottom: 19px;
}
.down__sec a img{
    width:200px;
}
.down .copy_right{
  margin: 5vw 0px 15px 0px;
  font-size: smaller;
  color: var(--mainColor);
}
.phone{
    position: absolute;
    width: 397px;
    right: -181px;
    /* bottom: 200px; */
    top: -95px;
  
}
.down .e{
    display: none;
}

@media only screen and (max-width: 900px){
    .para {width: 100%; font-size: 18px;}
    .down__sec{width: 100%;font-size: 15px;     margin: 50px auto;
    }
    .down__sec p{
        font-size: 12px;
    }
    .down__sec a img{width: 100px;}
    .down__sec div{padding: 0 20px; width: 50%;}
    .dphone { 
        display: none;
    }
    .down .e{
        display: inline;
        width: 95px;
        position: absolute;
        right: 0;
        top: 210px;
    }
    

}