.fav {
    border: 1px solid white;
    border-radius: 20px;
    margin: 10px 20px 10px 20px;
    height: 120px;
}

.img_box {
    display: flex;
    justify-content: left;
    width: 25%;
    height: 120px;
}

.fav_img {
    width: 90%;
    height: 120px;
    padding: 2px;
    border-radius: 20px;
}

.sec2 {
    display: flex;
    justify-content: space-between;
    width: 75%;
    padding: 6px 6px 6px 2px;
}

.title {
    color: white;
    font-size: 18px;
}

.prag {
    margin: 4px 0 8px 0;
    font-size: 13px;
    color: #606060;
    height: 16px;
    overflow: hidden;
    position: relative;
}

.prag::after {
    content: '';
    position: absolute;
    bottom: -12px;
    left: -10px;
    width: 100%;
    background-color: #dfdadafc;
    filter: blur(20px);
}

.date {
    font-size: 12px;
    color: white;
}

.icons {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.arrow_icon,
.delete_icon {
    width: 30px;
}


.fav .fav_skelton {
    width: 450px;
    height: 120px;
}

.arrow_btn,
.del_btn {
    background: none;
    border: none;
}

.mySwiper {
    justify-content: center;
    align-items: center;
    height: 400px;
}

.swiperSlide {
    height: 390px;
}

@media only screen and (max-width: 1110px) {
    .title {
        font-size: 14px;
    }
}

@media only screen and (max-width: 900px) {
    .img_box {
        width: 20%;
    }

    .sec2 {
        width: 80%;
    }

    .title {
        font-size: 16px;
        margin: 3px 0;
    }

    .prag {
        font-size: 12px;
        margin: 5px 0;
    }

    .date {
        font-size: 10px;
    }

    .fav .fav_skelton {
        width: 500px;
        height: 120px;
    }
}

@media only screen and (max-width: 550px) {
    .img_box {
        width: 30%;
    }

    .sec2 {
        width: 70%;
    }
}