.Sec1 {
    padding: 150px 0 0;
}

.swiper_slide {
    width: 40%;
}


.mySwiper_img {
    width: 530px;
    height: 300px;
}

.next_btn {
    border: none;
    width: 50px;
    height: 50px;
    position: absolute;
    right: 24%;
    top: 140px;
    z-index: 9999;
    background: #003441;
    border-radius: 100%;
    align-items: center;
    justify-content: center;
    vertical-align: middle;
    display: flex;
}

.btn_inacitve {
    opacity: 0.5;
}

.prev_btn {
    border: none;
    width: 50px;
    height: 50px;
    position: absolute;
    left: 32%;
    top: 140px;
    z-index: 9999;
    background: #003441;
    border-radius: 100%;
    align-items: center;
    justify-content: center;
    vertical-align: middle;
    display: flex;
}

.next_img,
.prev_img {
    width: 40px;
    height: 40px;
    position: relative;
}

.Sec2 {
    padding: 30px;
    background: #ffffff;
    color: var(--mainColor);
}

.tours_info {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.tours_title {
    padding: 10px 0;
}

.tours_prag {
    font-size: 15px;
    width: 70%;
}

.tours_prag2 {
    font-size: 15px;
    width: 70%;
}

.tours_rate {
    display: flex;
    flex-direction: column;
}

.rate_btn {
    background: none;
    border: none;
}

.tours_prag3 {
    font-size: 12px;
    padding: 10px 0;
    width: 150px;
    color: var(--mainColor);
}

.popup_title {
    padding: 20px 0;
}

.popup_star {
    display: flex;
    justify-content: center;
}

.swiper {
    width: 100%;
    padding-top: 50px;
    padding-bottom: 50px;
}

.swiper-slide {
    background-position: center;
    background-size: cover;
    width: 300px;
    height: 300px;
}

.swiper-slide img {
    display: block;
    width: 100%;
}

.mySwiper {
    justify-content: center;
    align-items: center;
}

@media only screen and (max-width: 1300px){
    .next_btn{
        right: 23%;
    }
} 

@media only screen and (max-width: 1210px){
    .next_btn{
        right: 20%;
    }
} 

@media only screen and (max-width: 1100px){
    .next_btn{
        right: 14%;
    }
    .prev_btn{
        left: 30%;
    }
} 

@media only screen and (max-width: 1000px){
    .next_btn{
        right: 10%;
    }
} 

@media only screen and (max-width: 950px){
    .next_btn{
        right: 6%;
    }
} 

@media only screen and (max-width: 900px){
    .next_btn{
        right: 10%;
    }
    .prev_btn{
        left: 22%;
    }
} 
@media only screen and (max-width: 800px){
    .next_btn{
        right: 4%;
    }
} 
@media only screen and (max-width: 700px) {
    .tours_info {
        flex-direction: column-reverse;
    }

    .tours_prag,
    .tours_prag2 {
        font-size: 13px;
        width: 80%;
    }

    .popup_title {
        font-size: 18px;
    }

    .popup_prag {
        font-size: 13px;
    }
    .next_btn ,
    .prev_btn{
        display: none;
    }
}
