.contBTn{
    cursor: pointer;
    background-color: var(--secondryColor);
    color: white;
    font-size: large;
    width: fit-content;
    padding: 17px 35px;
    border-radius: 17px;
    border: none;
    font-weight: 600;
    margin: 50px 0px;
}
