.card{
    display: inline-block;
    background-color: #D9D9D9;
    border: 1.6px solid #cfcdcd;
    border-radius: 18px;
}
.card:hover{
    transform: scale(1.05);
    box-shadow: rgba(0, 0, 0, 0.16) 0px 10px 36px 0px, rgba(0, 0, 0, 0.06) 0px 0px 0px 1px;
}
.card__img{
    display: flex;
    justify-content: center;
}
.card__img img{
    width: 90%;
    margin: 10px 0;
}
.card__name{
    color: var(--mainColor);
    font-size: 18px;
}
.card__about{
    color: #606060;
    font-size: 13px;
    padding: 6px 0px;
}
.card__date{
    color:var(--mainColor);
    font-size: 10px;
}
.card__more{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    color: var(--mainColor);
    margin: 10px;
    cursor: pointer;
    font-size: 13px;
}
.cont{
    width: 25%;
    margin: 15px;

}
.cont .ImgSkeleton{
    width: 300px;
    height: 200px;
}
@media only screen and (max-width: 1200px){
    .cont .ImgSkeleton{
        width: 250px;
        height: 130px;
    }
}
@media only screen and (max-width: 900px){
    .cont .ImgSkeleton{
        width: 200px;
    }
}
@media only screen and (max-width: 700px){
    .card__more{ font-size: 12px;}
    .card__about{font-size: 11px;}
    .cont .ImgSkeleton{
        width: 150px;
    }
 
}
@media only screen and (max-width: 600px){
    .cont{width: 40%;}
    .card__more,.card__about{ font-size: 10px;}
  
}
@media only screen and (max-width: 400px){
    .cont{width: 38%;}

}
@media only screen and (max-width: 350px){
    .cont{width: 80%;}

}


