.artical__info{
background-color: white;
}
.artImg {
    width: 100%;
    height: 695px;
    margin-top: -40px;
    object-fit: fill;
    object-position: center;
}


.info__sec2 {
    color: white;
    padding: 36px 92px;
    background-color: var(--mainColor);
    box-shadow: 18px -99px 69px 72px rgb(0 0 0 / 50%);
}

.info__sec2 .title {
    padding-bottom: 10px;

}

.info__sec2 .date {
    font-size: 12px;
    font-weight: 100;
}

.fav {
    width: 230px;
    padding: 0px 20px;
    border-radius: 15px;
    background-color: #A76D86;
    height: 64px;
}

.fav p {
    width: 65%;
    font-size: 16px;
}

.fav button {
    cursor: pointer;
    background-color: transparent;
    border: none;
}

.Icon {
    color: white;
}

.description {
    font-size: 14px;
    line-height: 21px;
}
.cont{
    border-bottom: 2px solid white;
    padding: 0 32px 15px 0;
    width: 60%;
}

@media only screen and (max-width: 900px) {

    .info__sec2 {
        padding: 36px 50px;
    }
}

@media only screen and (max-width: 700px) {
    .fav {
        padding: 0 10px;
        height: 50px;
        border-radius: 10px;
        width: fit-content;

    }
    .artImg{
        margin-top: 55px;
        height: 390px;
    }
    .cont{width: unset;}

    .info__sec2 {
        padding: 36px 20px;
    }

    .Icon {
        font-size: 25px;

    }

    .fav p {
        display: none;
    }
}