.tours_comp{
    width: 30%;
}
.tours_card{
    display: flex;
    justify-content: center;
    margin: 30px 10px 0 10px;
    background: rgba(217, 217, 217, 1);
    border-radius: 15px;
}

.tours_card:hover{
    transform : scale(1.02);
}

.tours_sec1{
    display: flex;
    justify-content: left;
    width: 35%;
}

.tours_img{
    width: 90% ;
}

.tours_sec2{
    width: 65%;
    margin: 0;
}

.Sec2_cont{
    padding: 10px 0;
}

.title{
    color: var(--mainColor);
    font-size: 16px;
    font-weight: 500;
    padding: 7px 0;
}

.prag{
    color: rgba(96, 96, 96, 1);
    font-size: 13px;
    font-weight: 400;
}

.tours_sec1 .loading{
    width: 360px;
    height: 130px;
}

@media only screen and (max-width: 900px){
    .tours_comp{
        width: 40%;
    }
    .tours_sec1{
        width: 40%;
    }
    .tours_sec2{
        width: 60%;
    }
    .title{
        font-size: 14px;
        width: 250px;
    }
    .prag{
        font-size: 11px ;
    }
    .tours_sec1 .loading{
        width: 300px;
        height: 130px;
    }
    
}

@media only screen and (max-width: 760px){
    .tours_sec1 .loading{
        width: 250px;
        height: 130px;
    }
    
}

@media only screen and (max-width: 650px){
    .tours_comp{
        width: 60%;
    }
    .title , .prag{
        font-size: 10px;
    }
    .tours_sec1 .loading{
        width: 350px;
        height: 130px;
    }
    
}

@media only screen and (max-width: 400px){
    .tours_comp{
        width: 90%;
    }
    .tours_sec1 .loading{
        width: 320px;
        height: 130px;
    }
    
}
