.sec4{
    background: #ffffff;
}

.title{
    text-align: center;
    color: var(--mainColor);
    padding: 40px 0 20px 0 ;
    font-size: 30px;
    width: fit-content;
    font-weight: 500;
    margin: 0 auto;
    text-align: center;
}

.tours{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.cards{
    width: 30%;
}

.see_more{
    color: var(--mainColor) !important;
}

.see_more:hover{
    color: #ffffff !important;
}

@media only screen and (max-width: 900px){
    .cards{
        min-width: 40%;
    }

    .title{
        font-size: 18px;
    }

    .tours_cards{
        position: relative;
        max-width: 1230px;
        width: 100%;
    }

    .tours{
        margin: auto;
        overflow-x: scroll;
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        scroll-behavior: smooth;
        justify-content:unset ;
        max-width: 1220px;
        width: 90vw;
    }

    .tours::-webkit-scrollbar{
        width: 0;
    }
}

@media only screen and (max-width: 450px){
    .cards{
        min-width: 60%;
    }
}


