.title {
    color: white;
    padding: 0 0 30px 3vw;

}

.cat {
    background-color: var(--secondryColor);
    margin: 10px;
    border-radius: 24px;
    height: fit-content;
    padding-top: 45px;
    width: 27%;
    cursor: pointer;
}

.cat:hover {
    transform: scale(1.02);
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}

.cat__title {
    padding: 0 20px;
    font-size: 26px;
    color: white;

}

.cat__dis {
    width: 85%;
    padding: 15px 20px;
    font-size: 16px;
    font-weight: 200;
    color: white;

}

.cat__pan {
    height: fit-content;
    margin-bottom: -4px;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
}

.cat__pan img {
    width: 100%;
}

.cat__pan .Skeleton1 {
    /* height: 250px;
    width: 400px; */
    width: 95%;
    height: 180px;
    position: absolute;
    left: 7px;
    top: 0;
}

.cat__pan p {
    position: absolute;
    top: 53%;
    font-weight: 700;
    font-size: 6vw;
    left: 11px;
    color: white;
}

@media only screen and (max-width: 900px) {
    .cat__title {
        font-size: 20px;
    }

    .cat__dis {
        width: 85%;
        padding: 10px 20px;
        font-size: 12px;
    }

    .cat {
        width: 40%;
    }

    .cat__pan p {
        font-size: 10vw;
    }

    /* .cat__pan .Skeleton1 {
        height: 250px;
        width: 250px;
    } */
}

@media only screen and (max-width: 500px) {
    .cat {
        width: 65%;
    }

}