.popup__img {
    border-radius: 30px 0px 0px 0;
    height: 105%;
    width: 50%;
}

.form label {
    color: var(--secondryColor);
    font-size: small;
    font-weight: 500;
    margin-top: 5px;

}

.form input {
    height: 5vh;
    border-radius: 13px;
    background-color: var(--mainColor);
    color: gainsboro;
    padding: 11px;
    margin-top: 5px;
    width: 15vw;
    border: none;

}

.form button {
    background-color: var(--secondryColor);
    border-radius: 13px;
    padding: 11px;
    margin-top: 15px;
    border: none;
    cursor: pointer;
    width: 138px;
    color: white;
    font-weight: 600;
}

.continueS {
    margin-top: 9px;

}

.continue__with {
    display: flex;
    width: fit-content;
    flex-direction: column;
    align-items: center;
}

.continue__with p {
    font-weight: 600;
    font-size: 12px;
    padding-bottom: 5px;
}

.continue__with div {
    background-color: #D9D9D9;
    border-radius: 13px;
    padding: 13px 0;
    width: 80%;
}

.continue__with img {
    width: 80%;
    margin: 0 auto;
    display: flex;
}

.errors {
    color: red;
    margin-top: 3px;
}

.forget {
    display: flex;
    justify-content: flex-end;
    color: #9a9090;
    font-size: small;
    padding: 10px 0;
    cursor: pointer;
    width: 15vw;
}
.form .otp_input {
    width: 15% !important;
    height: 60px !important;
    border: 1px solid #ccc;
    border-radius: 13px;
    text-align: center;
    font-size: 32px;
    font-weight: bold;
    line-height: 1;
    margin-right: 11px;
    margin: 10px 11px 10px 0 ; 
  
}
.typo{
    margin: 6px 0px !important;
    font-size: 13px !important; 
    width: 75% ;
}

@media only screen and (max-width: 900px) {
    .continue__with {
        margin: 10px 0;
    }

    input {
        width: 80%;
    }

    .form input {
        width: 80%;
    }

    .popup__img {
        display: none;
    }

    .continueS {
        flex-wrap: wrap;
    }

    .forget {
        width: 80%;
    }
}