.title {
    color: white;
    padding: 0 0 30px 3vw;

}

.QandA {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 0 40px;
}

.questions__image {
    width: 30%;
    display: flex;
    align-items: center;
}
.questions__image .skeleton{
    width: 90%;
    height: 90%;
}

.questions__image img {
    width: 100%;
}

.questions {
    color: white;
    text-align: center;
    width: 40%;
}

.questions p {
    font-size: 25px;
    font-weight: 500;
    margin-top: 40px;
}

.questions__answer {
    list-style: none;
    padding: 18px;
    background-color: var(--secondryColor);
    border-radius: 9px;
    margin: 28px auto;
    font-size: 18px;
    font-weight: 500;
    cursor: pointer;
    width: 50%;
    border: none;
    display: block;
    color: var(--mainColor);

}

.questions__answer:hover {
    transform: scale(1.02);
    box-shadow: rgba(191, 130, 72, 0.795) 0px 3px 10px 0px;
}

.questions__score {
    margin-top: 40px;
    text-align: center;
    color: white;
    width: 15%;
    font-size: 20px;

}

.questions__score p {
    padding: 10px 0;
}

.questions__score p:nth-of-type(2) {
    font-size: 30px;
    font-weight: 600;
    letter-spacing: 3px;
}
.hint{
    background-color: transparent;
    border: none;
    cursor: pointer;
}
.hint img{
    width: 100px;
}
.finish{
    text-align: center;
    color: white;
    margin-bottom: 140px;
}
.finish .score{ 
    background-color: var(--secondryColor);
    width: fit-content;
    margin: 40px auto;
    padding: 35px;
    border-radius: 12px;

}
.finish .score h1{
    font-size: 48px;
    margin-bottom: 20px;

}
.finish button{
    border: 1px solid var(--secondryColor) ;
    border-radius: 15px;
    padding: 20px 30px;
    color: white;
    background-color: transparent;
    cursor: pointer;
}
.finish button:hover{
    transform: scale(1.08);
}
.error{
    padding: 200px 0;
    color: white;
    margin: 0 auto;
    width: fit-content;
}
@media only screen and (max-width: 900px) {
    .QandA {
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    .questions__image, .questions, .questions__score {
        width: 80%;
        margin: 0 auto;
    }

    .questions__image img ,.questions__image .skeleton{
        width: 65%;
        margin: 0 auto;
    }
    .questions__image .skeleton{
        height: 200px;
    }

    .questions__score {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: baseline;
        gap: 15px;
    }
    .hint img{
        width: 50%;
    }
    .questions__answer{
        width: 65%;
    }

}